torch==1.10.1
numpy==1.22.0
wandb==0.12.9
transformers==4.16.1
tqdm==4.62.3
sentencepiece==0.1.96
pyhocon==0.3.59
nltk==3.7
text2digits==0.1.0
sacrebleu==2.0.0
sentence-transformers==2.2.0
bert_score==0.3.11